<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>$title$</title>

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">

        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/css/screen.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />

        <link rel="alternate" type="application/rss+xml" href="/rss/feed.xml">
        <link rel="canonical" href="">
    </head>
    <body class="home-template">
        <header class="site-head" style="background-image: url(/images/borobudur.jpg)">
            <div class="vertical">
                <div class="site-head-content inner">
                    <h1 class="blog-title">Paul Meng</h1>
                    <h2 class="blog-description">Computer Scientist</h2>
                </div>
            </div>
        </header>

        <main class="content" role="main">
            <article class="post">
                $body$
            </article>
        </main>

        <nav class="pagination" role="navigation">
        <span class="page-number">Page 1 of 1</span>

        <footer class="site-footer">
            <a class="subscribe icon-feed" href="/rss/feed.xml"><span class="tooltip">Subscribe!</span></a>
            <div class="inner">
                 <section class="copyright">All content copyright <a href=""></a> © 2014 • All rights reserved.</section>
            </div>
        </footer>
        <script src="/javascript/jquery.js"></script>
        <script src="/javascript/jquery.fitvids.js"></script>
        <script src="/javascript/index.js"></script>
    </body>
</html>
