<!doctype html>
<html>
    $partial("templates/header.html")$
    <body>
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="$about_page_link$" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/archive.html" class="pure-menu-link">Archive</a></li>
                <li class="pure-menu-item"><a href="/rss/feed.xml" class="pure-menu-link">Subscribe</a></li>
            </ul>
        </div>
        <main class="content" role="main">
            $for(posts)$
                <article class="post">
                    $body$
                </article>
            $endfor$
        </main>

        <div class="pure-g">
          <div class="pure-u-md-1-5"></div>
          <div class="pure-u-md-3-5">
          <nav class="main-nav">
            $if(navlinknewer)$
            <span class="newer-posts">
              $navlinknewer$
            </span>
            $endif$
            $if(navlinkolder)$
            <span class="older-posts" style="float:right">
              $navlinkolder$
            </span>
            $endif$
          </nav>
          </div>
          <div class="pure-u-md-1-5"></div>
        </div>

        <div class="pure-g">
          <div class="pure-u-md-1-5"></div>
          <div class="pure-u-1 pure-u-md-3-5">
            <div class="page-number is-center">Page $currIndex$ of $maxIndex$</div>
            <footer class="site-footer">
              <div class="inner is-center">
                <section class="copyright">All contents are copyrighted by Paul Meng, CC BY-NC-SA@2019</section>
              </div>
            </footer>
          </div>
          <div class="pure-u-md-1-5"></div>
        </div>
    </body>
</html>
