<!doctype html>
<html>
    <head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140890995-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-140890995-1');
	</script>
        <meta charset="utf-8">
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <title>$blog_title$</title>
        <link rel="canonical" href="https://paulme.ng" />
        <link rel="amphtml" href="https://paulme.ng">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="AhCspkSlkxfv5A28XyOOTijnA59_q-V8rJzKakb4CFA" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      
        <meta property="og:title" content="$title$" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://paulme.ng" />
        
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <link rel="stylesheet" href="/stylesheets/pure-skin-mine.css">
        <link rel="stylesheet" href="/stylesheets/customize.css">

        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Open-source framework for publishing content",
            "datePublished": "2015-10-07T12:02:41Z",
            "image": [
            "logo.jpg"
            ]
        }
        </script>
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    </head>
    <body class="home-template nav-closed">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="https://paulme.ng" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/archive.html" class="pure-menu-link">Archive</a></li>
                <li class="pure-menu-item"><a href="/rss/feed.xml" class="pure-menu-link">Subscribe</a></li>
            </ul>
        </div>
        <main class="content" role="main">
            $for(posts)$
                <article class="post">
                    $body$
                </article>
            $endfor$
        </main>

        <div class="pure-g">
          <div class="pure-u-md-1-5"></div>
          <div class="pure-u-md-3-5">
          <nav class="main-nav">
            $if(navlinknewer)$
            <span class="newer-posts">
              $navlinknewer$
            </span>
            $endif$
            $if(navlinkolder)$
            <span class="older-posts" style="float:right">
              $navlinkolder$
            </span>
            $endif$
          </nav>
          </div>
          <div class="pure-u-md-1-5"></div>
        </div>

        <div class="pure-g">
          <div class="pure-u-md-1-5"></div>
          <div class="pure-u-1 pure-u-md-3-5">
            <div class="page-number is-center">Page $currIndex$ of $maxIndex$</div>
            <footer class="site-footer">
              <div class="inner is-center">
                <section class="copyright">All content copyright <a href=""></a>© 2019 • All rights reserved.</section>
              </div>
            </footer>
          </div>
          <div class="pure-u-md-1-5"></div>
        </div>
    </body>
</html>
