<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>$title$</title>

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">

        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/css/screen.css">
        <link rel="stylesheet" type="text/css" href="/css/fonts.css">

        <link rel="alternate" type="application/rss+xml" href="/rss/feed.xml">
        <link rel="canonical" href="">
        $mathjax$
    </head>
    <body class="post-template">
        <main class="content" role="main">
            <article class="post">
                <header class="post-header">
                    <a class="blog-logo" href="">
                            <span class="blog-title">Paul Meng</span>
                    </a>
                </header>
                    <span class="post-meta"><time datetime="$date$">$date$</time> </span>

                    <h1 class="post-title">$title$</h1>

                    <section class="post-content">
                        $body$
                    </section>

                    <footer class="post-footer">

                        <section class="author">
                            <h4>Paul Meng</h4>
                            <p>I'm an unashamed idealist, but I'm not afraid to change my opinions.

        I love creating beautiful things. interfaces, apis, music. ideas.
        </p>
                        </section>

                        <section class="share">
                            <h4>Share this post</h4>
                            <a class="icon-twitter" href="">
                                <span class="hidden">Twitter</span>
                            </a>
                            <a class="icon-facebook" href="">
                                <span class="hidden">Facebook</span>
                            </a>
                            <a class="icon-google-plus" href="">
                                <span class="hidden">Google+</span>
                            </a>
                        </section>
                    </footer>
            </article>
        </main>

        <footer class="site-footer">
            <a class="subscribe icon-feed" href="/rss/feed.xml"><span class="tooltip">Subscribe!</span></a>
            <div class="inner">
                 <section class="copyright">All content copyright <a href=""></a> © 2014 • All rights reserved.</section>
            </div>
        </footer>
        <script src="/javascript/jquery.js"></script>
        <script src="/javascript/jquery.fitvids.js"></script>
        <script src="/javascript/index.js"></script>
    </body>
</html>
